[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
gunicorn = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
spacy = "*"
mmh3 = "*"
flask-cors = "*"
psycopg2-binary = "*"
cassandra-driver = "*"
cassandra-sigv4 = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"
