annotated-types
bcrypt
beautifulsoup4
blinker
blis
boto3
botocore
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
Flask
Flask-Bcrypt
flask-cors
gunicorn
idna
importlib_metadata
itsdangerous
Jinja2
jmespath
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mmh3
murmurhash
numpy
packaging
preshed
psycopg2-binary
pydantic
pydantic_core
Pygments
PyJWT
python-dateutil
python-dotenv
requests
rich
s3transfer
shellingham
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
typing-inspection
typing_extensions
urllib3
wasabi
weasel
Werkzeug
wrapt
zipp